@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/OpenSans-Regular.ttf");
	font-size: 1em;
}

@font-face {
	font-family: 'OpenSans-ligth';
	src: url("../fonts/OpenSans-Light.ttf");
	font-size: 1em;
}


header	{
	width: 100%;
	height: 150px;
	//background-color: #611EA1;
	background-color: rgba(97, 38, 158, 0.9);
	position: relative;
	z-index: 2;

}

header .header-black {
	width: 100%;
	height: 50px;
	background-color: #000;
}

header .header-black ul {
	margin-left: 70px;
}

header .header-black li {
   	background-image: url(../img/clubs.png);
	display: inline-block;
	background-repeat: no-repeat;
    margin: 0px -7px 0px 7px;
	//background-color: #666;

}

header .header-black li a {
	width: 60px;
    height: 50px;
	display: block;
}

header .header-black li.club-01 {
	background-position: 6px 6px;
}

header .header-black li.club-02 {
	background-position: -71px 6px;
}

header .header-black li.club-03 {
	background-position: -146px 6px;
}

header .header-black li.club-04 {
	background-position: -222px 6px;
}

header .header-black li.club-05 {
	background-position: -299px 6px;
}

header .header-black li.club-06 {
	background-position: -374px 6px;
}

header .header-black li.club-07 {
	background-position: -451px 6px;
}

header .header-black li.club-08 {
	background-position: -525px 6px;
}

header .header-black li.club-09 {
	background-position: -601px 6px;
}

header .header-black li.club-10 {
	background-position: -677px 6px;
}

header .header-black li.club-11 {
	background-position: -753px 6px;
}

header .header-black li.club-12 {
	background-position: -828px 6px;
}

header .header-black li.club-13 {
	background-position: -905px 6px;
}

header .header-black li.club-14 {
	background-position: -983px 6px;
}


header .container {
	width: 80%;
	height: 50px;
}


header #logo {
	position: absolute;
	margin-block: 34px;
	left: 57px;
}


#menu {
	width: 1000px;
    margin: 33px 0px 0px 210px;
}

#menu li {
	display: inline-block;
	font-family: "OpenSans";
}


#menu li a {
	font-size: 16px;
	color: #FFF;
	padding: 10px 25px;
}

#menu li.search {
	width: 182px;
	transition-timing-function: cubic-bezier(1, .91, .91, 1); /*EFEITO JAVASCRIPT*/
	transition-duration: 1s; 	/*EFEITO JAVASCRIPT*/
}

#menu .input-group{
	flex-wrap: inherit;
}

/*EFEITO JAVASCRIPT*/
#menu li.search.ativo {
	width: 300px;
}
/*----------------*/


#menu li.search input {
	background-color: #2D0666;
	color: #FFF;
	border: none;	
}

/*EFEITO JAVASCRIPT*/
#menu li.search.ativo input {
	background-color: #FFE294;
	color: #000;
}
/*----------------*/

#menu li.search ::-webkit-input-placeholder {
	color: #rgba(255, 255, 255, .5);
}


#menu li.search button {
	background-color: #2D0666;
	color: rgma(255,255,255, .5);
	border: none;
}

#banner {
	width: 100%;
	height: 728px;	
	background-image: url(../img/bola.png);          
    background-repeat:   no-repeat;
    background-position: 0px -41px;
    background-size: cover;
	position: relative;
    top: -100px;
}

#banner h1 {
	color: #000;
	top: 250px;
	font-size: 85px;
	position: relative;
	font-family: 'OpenSans-ligth';
	font-weight: bold;
	left: 20px;
	transition: 1s; /*EFEITO JAVASCRIPT*/
}


#banner h1 small {
	font-size: 32px;
	display: block;
	color: black;	
}

/*EFEITO JAVASCRIPT*/
#banner h1.efeito {
	color: red;
	font-size: 12em;
}
/*-----------------*/

#news {
	position: relative;
	top: -80px;
}

#news h2{
	color: #5E2799;
	font-family: 'OpenSans-ligth';
	font-size: 48px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}

#news hr {
	background-color: #FFC107;
    width: 390px;
    padding: 2px;
    margin: auto;
    height: 6px;
}

#news .thumbnails {
	margin: 30px -180px 0px -16px;
}

#news .col-md-3 {
	width: 310px;
}

#news .thumbnails img {
	width: 310px;
}

#news .thumbnails h3{
	width: 310px;
	color: #5E2799;
	font-family: 'OpenSans';
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
    margin-bottom: 5px;
}

#news .thumbnails time{
	color: #A7A7A7;
	font-family: 'OpenSans';
	font-size: 15px;
}


#estatisticas {
	background-color: #5E2799;
	width: 100%;
	height: 200px;
	text-align: center;
}

#estatisticas p {
	color: #FDE092;
	text-transform: uppercase;
	font-family: 'OpenSans-Light';
	font-size: 64px;
	margin-top: 30px;
}


#estatisticas p small {
	color: #fff;
	font-size: 24px;
	display: block;
}

#call-to-action {
	position: relative;
	top: 74px;
}

#call-to-action h2 {
	color: #5E2799;
	font-family: 'OpenSans-ligth';
	font-size: 48px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}

#call-to-action hr {
	background-color: #FFC107;
    width: 986px;
    padding: 2px;
    margin: auto;
    height: 6px;
}

#call-to-action p {
	margin: 90px 0px 57px 0px;
    text-align: center;
}

#call-to-action .btn {
	line-height: 34px;
	border-radius: 3px;
	min-height: 52px;
    min-width: 146px;
    padding: 17px;
    font-weight: bold;

}

#call-to-action .btn-roxo {
	color: #fff;
	background-color: #5E299A;
	border-color: #5E299A;
	margin: 19px 0px 0px 426px;
}


#call-to-action .btn-amarelo {
	color: #000;
	background-color: #FDE192;
	border-color: #FDE192;
    margin: 19px 0px 0px 45px;
}

footer {
	margin-top: 230px;	
}

footer .row-cinza-escuro {
	height: 60px;
	background-color: #000;
	border-top: #242D37 1px solid;

}

footer .container {
	display: contents;
	line-height: 4;
}

footer #copyrigth {
	font-family: 'OpenSans';
	font-size: 16px;
	color: #666;
	
}

footer #created {
	color: #623291;
	font-family: 'OpenSans';
	font-weight: bold;
	font-size: 14px;
	margin-left: auto;
}

footer .row-cinza-claro {
	height: 200px;
	background-color: #171F26;
	color: #666;
	font-size: 24px;
	display: block;
	margin: 0px 0px 0px -105px;
}

footer #logo-footer{
	margin-top: 10px;
}

footer .row-cols {
	margin: 0px 0px 0px 173px;
}

footer .row-cols h4 {
	margin-top: 15px;
	font-family: 'OpenSans';
	font-size: 16px;
	color: #FFF;
	padding-bottom: 10px;
	border-bottom: #242D37 1px solid;

}

footer .row-cols h5 {
	font-family: 'OpenSans';
	font-size: 14px;
	color: #666;
	margin-bottom: -32px;

}

footer .row-cols time {
	font-family: 'OpenSans';
	font-size: 14px;
	color: #FDE092;
	
}

footer .row-cols h6 {
	font-family: 'OpenSans';
	font-size: 18px;
	display: grid;
	margin-top: 8px;
}

footer .row-cols h6 a {
	padding: 3px;	
}

footer .lista-sociais {
	margin-top: -4px;
}

footer .lista-sociais li {
	display: inline-block;
	padding: 10px;
}

footer .lista-sociais a {
	display: block;
    border: #9B9B9B 1px solid;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
}

footer .lista-sociais i {
	font-size: 20px;
	margin: 4px auto;
}


#video {
	position: relative;
	top: 100px;
}

#video h2{
	color: #5E2799;
	font-family: 'OpenSans-ligth';
	font-size: 48px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}

#video hr {
	background-color: #FFC107;
    width: 235px;
    padding: 2px;
    margin: auto;
    height: 6px;
    margin-bottom: 30px;
}

#audio {
	position: relative;
	top: 170px;
}

#audio h2{
	color: #5E2799;
	font-family: 'OpenSans-ligth';
	font-size: 48px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}

#audio hr {
	background-color: #FFC107;
    width: 235px;
    padding: 2px;
    margin: auto;
    height: 6px;
    margin-bottom: 30px;
}

/* MOBILE */
#btn-bars, #btn-search {
	display: none;
}

#btn-news-prev, #btn-news-next {
	display: none;	
}


#menu-mobile {
	display: none;
}


#input-search-mobile {
	display: none;
}	


/* LOJA */

.text-arial-cinza {
	font-family: arial;
	font-size: 20px;
	color: #666;
}

.text-roxo{
	color:  #6E3EA4;
}

#destaque-produtos-container {
	position: relative;
	margin-bottom: 60px;
}

#destaque-produtos {
	margin: 150px 0 0 0 ;
}


#destaque-produtos .col-imagem {
	text-align: center;	
}

#destaque-produtos .col-descricao h2 {
	font-family: arial;
	font-size: 30px;
	color: #666;
	margin-bottom: 15px;
}

#destaque-produtos .col-descricao .box-valor {
	width: 100%;
	position: relative;
}

#destaque-produtos .col-descricao .box-valor .text-reais {
	font-size: 23px;
    font-weight: bold;
    position: absolute;
    top: 27px;
    left: 51px;
} 

#destaque-produtos .col-descricao .box-valor .text-valor {
	font-size: 50px;
	position: absolute;
	top: -3px;
	left: 90px;
}

#destaque-produtos .col-descricao .box-valor .text-centavos {
	font-size: 30px;
	position: absolute;
	top: 6px;
	left: 150px;
}

#destaque-produtos .col-descricao .btn-comprar {
	font-size: 25px;
	margin-left: -30px;
}


#destaque-produtos .col-descricao .btn-comprar .fa {
	font-size: 35px;
	padding: 15px;
}

.text-parcelas {
	margin-top: 15px;
}


#btn-destaque-prev, #btn-destaque-next {
	background: none;
	border: none;
	color: #5E2699;
	font-size: 70px;		
	display: block;	
	position: absolute;
	top: 115px;
	z-index: 1;
	outline: 0;
}

#btn-destaque-next {
	right: 13px;
}


#promocoes .box-promocao {
	background-color: #6E3EA4;
	width: 100%;
	height: 170px;
	position: relative;
	color: #FFF;
	text-align: center;
}

#promocoes .box-promocao.box-1 {
	font-family: arial;
	font-size: 23px;
	font-weight: bold;
	padding: 7px;
}

#promocoes .box-promocao.box-1 p {
	margin-top: 60px;
}

#promocoes .box-promocao .text-ate {
	font-size: 20px;
	font-weight: bold;
	font-family: arial;
	position: absolute;
	left: 25px;
	top: 15px;
}

#promocoes .box-promocao .text-numero {
	font-size: 128px;
	font-family: 'OpenSans-ligth';
	position: absolute;
	left: 70px;
	top: -10px;
}

#promocoes .box-promocao .text-porcento {
	font-size: 64px;
	font-family: 'OpenSans';
	position: absolute;
	right: 23px;
	top: 18px;
}

#promocoes .box-promocao .text-off {
	font-size: 48px;
	font-family: 'OpenSans-ligth';
	position: absolute;
	right: 20px;
	top: 80px;
}

#mais-buscados .text-center {
	margin-top: 76px;
	margin-bottom: 30px;
}
#mais-buscados h2 {
    color: #5E2799;
    font-family: 'OpenSans-ligth';
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
#mais-buscados hr {
    background-color: #FFC107;
    width: 500px;
    padding: 2px;
    margin: auto;
    height: 6px;
    margin-bottom: 45px;
}
.box-produto-info h3 {
	text-decoration: none;
}
.box-produto-info h3 {
	font-size: 15px;
	font-family: arial;
	color: #666;
}


.box-produto-info .produto-img {
	width: 70%;
	margin-bottom: 20px;
}
.box-produto-info .text-valor {
	font-size: 26px;
	font-weight: bold;
}
